body {
    background: #381f2a;
    color: #e3d6b6;
}

hr {
    border-top: 1px solid #e3d6b6;
}

*, a:link, a:visited, h1, h2, h3, h4, p {
    color:#e3d6b6;
}

.nav-container {
    border-top: 1px solid #7e7662;
    border-bottom: 1px solid #7e7662;
}

#footer .nav-container {
    border-bottom: none;
}

.exhibit-item-metadata .item-metadata,
.exhibit-item-metadata .item-metadata .element-text
{
    color: #000;
}

.exhibit-item-metadata .item-metadata h1,
.exhibit-item-metadata .item-metadata h2,
.exhibit-item-metadata .item-metadata h3 {
    margin: 0.25em 0 0 0;
    color: #000;
}

.exhibit-item-metadata .item-metadata a:link,
.exhibit-item-metadata .item-metadata a:visited {
    color: #7e7662;
}
.page-out{
    box-shadow:  -4px 4px 8px #444;
    -moz-box-shadow:  -4px 4px 8px #444;
    background: #e3d6b6;
}

.exhibit-item .title p{
    color: #938a73;
}



/* SHARE THIS STYLING ********************************************************************/
#at15s *, #at16pib * {
    color: #381f2a;
}



