/* theming */


/* centering */

.theme-center-outer{
	overflow:hidden;
}
.theme-center-middle{
	position:relative;
	left:50%;
	float:left;
}
.theme-center-inner{
	position:relative;
	right:50%;
	float:left;
}


/* responsive */
/*
.themes-left{
	float: left;
}
.themes-right{
    float: right;
}

.themes-left .theme-item .theme-image, .themes-left .theme-item .theme-title{
    float: right;
}
.themes-right .theme-item .theme-image, .themes-right .theme-item .theme-title{
    float: left;
}

.theme-image{
	clear:both;
	margin-left:15px;
	margin-right:15px;
}
.theme-image img{
	max-width:100%;
}

@media only screen and (max-width: 767px) {
    .themes-left .theme-item .theme-image, .themes-left .theme-item .theme-title{
        float: none;
    }
    .themes-right .theme-item .theme-image, .themes-right .theme-item .theme-title{
        float: none;
    }
    
    .themes-left, .themes-right{
		max-width:50%;
	}
}
*/

.theme-title, .theme-image{
    zzborder: 1px solid black;
    text-align: center;
}


.themes-left, .themes-right{
    float: left;
}
.themes-left .theme-item .theme-image, .themes-left .theme-item .theme-title{
    float: right;
    background-color:yellow;
}
.themes-right .theme-item .theme-image, .themes-right .theme-item .theme-title{
    float: left;
   background-color:yellow;
}
.themes-right .theme-item .theme-image{
    clear:both;
}
.themes-left .theme-item .theme-image{
    clear:both;

}
@media only screen and (max-width: 767px) {
    .themes-left .theme-item .theme-image, .themes-left .theme-item .theme-title{
        float: none;
    }
    .themes-right .theme-item .theme-image, .themes-right .theme-item .theme-title{
        float: none;
    }           
}

/* styling */


/* end theming */


/* html */
	

  	h3{
		font-size:		28px;
	}


    /* Note: Design for a width of 320px */
    @media only screen and (max-width: 767px) {
    
    	h3{
			font-size:		18px;
		}
    
	}

	
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    
       	h3{
			font-size:		22px;
		}
    
	}


	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	  	h3{
			font-size:		24px;
		}
	
	}
	
	#site-title-small{
		display:none;
		position: relative;
		top:-5px;
		float: left;
		margin-right: 5px;

		/* hide the border underneath */
		background-color: #381F2A;
		width:    53px;
	}


	#site-title{
		display:block;
	}

	#site-title-small a img{
		width:    50px;
		display:	inline;
	}


	@media all and (max-width: 480px) {
		#site-title-small{
			display:block;
		}
		#header{
			display: none;
		}
	}

	
	
	input[type="text"], input[type="password"], input[type="email"], textarea, select {
	    background: none repeat scroll 0 0 #FFFFFF;
	    border: 1px solid #CCCCCC;
	    border-radius: 2px 2px 2px 2px !important;
	    color: #777777;
	    display: block;
	    font: 13px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	    margin: 0 0 20px;
	    max-width: 100%;
	    outline: medium none;
	}

/**
 *	media queries
 */

	@media (max-width:540px) { 
		body {
			xxxxbackground-color: red !important;
		}
		.xxxright_on_top {
			float: none  !important;
		}
	}
	