/* HTML ELEMENTS */
body {
   background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
}

a:link, a:visited {
    color: #336699;
}

dl {
    background: #fffff0
}

dt {
    background: #ddddd0;
}

/* PAGE SECTIONS */

#header {

}

#content {
    /*background-color: #fff;*/
}

#footer {

}

/* NAVIGATION SECTIONS */
#top-navigation .inner {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

#bottom-navigation {
    border-top: 1px solid #666;
}

#top-navigation a:link,
#top-navigation a:visited {
    /*color: #fff;*/
}

/* EXHIBIT PROVIDERS */

#exhibit-providers a:link,
#exhibit-providers a:visited{
    /*color: #fff;*/
}

.exhibit-theme-image-overlay {
    background: transparent url(../images/circle-overlay-100.png) top left no-repeat;

}


/* EXHIBIT INTRO/STORY PAGE ********************************************/

#exhibit-item-thumbnails {
    background: #ccc;
}

#exhibit-item-infocus {
    background: #000;
}

#exhibit-item-infocus h3.title {
    color: #fff;
}

#exhibit-item-infocus a:link {
    color: #fff;
}
