#header{
	margin-bottom:	15px;
}

.element{
	margin:	5px;
}

.element.large{
	margin:	5px;
}

#section-container{
	padding: 0px;
}

.element .name{
	left:	0px;
}

.element.large .dark{
	left:		0px;
	top:		0px;
	bottom:		0px;
	bottom:		2em;
	text-align:	center;
	display:	block;
	margin:		auto;
}

.title-wrapper{
	position:		absolute;
	width:			100%;
	bottom:			0px;
	top:			auto;
}

.element.large .title-wrapper{
	bottom:				auto;
	top:				50%;
}


.element .title-table{
	background-color:	transparent;
	color:				white;
	xxxxxxmin-height:			52px;
	xxxxxxheight:				52px;
	width:				100%;
	top:				auto;
}

.element .title-table td{
	text-align:			center;
	padding:			0px;
	width:				100%;
	vertical-align:		middle;
	padding:			9px;
}

.element .language-table{
	background-color:	transparent;
	width:				100%;
}

.element .language-table td{
	text-align:			center;
	padding:			0px;
	width:				100%;
	vertical-align:		middle;
	padding:			9px;
}

.large .title-table h5{
	font-size:	190%;
}



.wrap_at_320{
	float:			left;
	margin-right:	2em;
	padding-top:	0.3em;
	padding-bottom:	0.3em;
}

@media only screen and (max-width: 767px) {
	.wrap_at_320{
		display:	block;
		clear:		both;
		float:		none;
		text-align:	center;
	}
	
}
