/* Fonts */

@font-face {
    font-family: Chevin;
    src: url('../fonts/chevin-light.eot');
    src: url('../fonts/chevin-light.eot?iefix') format('eot'), url('../fonts/chevin-light.woff') format('woff'), url('../fonts/chevin-light.ttf') format('truetype'), url('../fonts/chevin-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*


/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/**** Base styles ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:			0;
  padding:			0;
  border:			0;
  vertical-align:	baseline;
}



article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


body {
	font-family:	Chevin, Arial, sans-serif;
	line-height:	1.48em;
	background:		#FFF;
	color:			#333;
}



/* Links */

a, a code {
	color:				#0075FF;
	text-decoration:	none;
}

a:hover, a:hover code{ 
	color:				#FF00C2; 
}

a:active, a:active code{
	color:				#FF00C2;
}

/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html, body{
  height:		100%;
  *overflow-y:	scroll;
}

#section-container {
  margin-bottom:	2.08333333333%; /*20px;*/
}


/****** Header ******/

header{
  border-bottom:	1px solid #666;
  width:			97%;
  text-align:		left;
  padding-bottom:	5px;
}

header img.main-logo {
	width:		285px;
	height:		160px;
}

header{
	position: relative;
}

#standard_shares.landing{
    bottom:			1em;
    float:			right;
    margin-right:	20px;
    position:		absolute;
    right:			0;
}

header img.share{
	float:			right; 
	margin-left:	2em;
}

/****** Body ******/

/* The small boxes */

.element {
	
  /* these will be overwritten by script, but default are needed to stop isotope messing up */
  width:						200px; 
  height:						200px;
	
  overflow:						hidden;
  position:						relative;
  background:					#DFDFDF; /* #888 was the darker one */
  color:						#FFF;
  -webkit-border-radius:		18px; /* Saf3-4, iOS 1-3.2, Android =1.6 */
  -moz-border-radius:			18px; /* FF1-3.6 */
  border-radius:				18px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  -moz-background-clip:			padding; 
  -webkit-background-clip:		padding-box; 
  background-clip:				padding-box;
}


/****** Branding / secondary branding ******/

.overlay, .partner-overlay, .overlay-tel{
	position:		absolute;
	margin:			0;
	top:			0.5em;
	left:			0.5em;
}

.overlay{
	width:		15%;
}

.overlay-tel{
	width:		28%;
}

.partner-overlay {
	right:	0.5em;
	left:	auto;
	width:	20%;
}


/****** Text overlay on the small boxes ******/

.element .name {
  background:		#333;
  filter:			Alpha(Opacity=70);
  background:		rgba(0,0,0,0.7);
}


/* normal variables */

.clickable .element:hover {
	cursor: pointer;
}

.clickable .element:hover h5 {
	box-shadow: 	0 0 6px #888, 0 0 6px #888;
}

.clickable h5:hover {
	box-shadow: 	0 0 6px #888, 0 0 6px #888;
  	cursor:			pointer;
}


/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


/* Additional styling changes for the Europeana exhibition front page */

/* This is the black background on the large images */

.dark{
	color:				#fff;
	-moz-box-shadow:	0 5px 5px 0 #000;
	-webkit-box-shadow:	0 5px 5px 0 #000;
	box-shadow:	0 5px 5px 0 #000;
}




/* Large image changes */

.element.large .dark {
	filter:			Alpha(Opacity=100);
	background:		#121212;
	position:		relative;
}


/* Languages */

.languages{
	background-color:	#DFDFDF;
	display:			none;
}

.element.large .languages{
	display: 		block;
	width:			100%;	
	position:		absolute;
	bottom:			0px;
}


/* External links */

p.partner-site
{
	display: none;
}

.element.large p.partner-site
{
	left:			0.5em;

	display: 		table;
	width:			100%;
	text-align:		center;
	padding-top:	0.5em;

	position:		absolute;
	bottom:			0px;
	line-height:	2.5em;
}


/* Footer
================================================== */

.footer_row{
	border-top:		1px solid #666;
}

footer{
  position:			relative;
  display:			block;
  float:			left;
  width:			97%;
  padding-top:		5px;
  padding-bottom:	5px;
  text-align:		left;
}

footer ul{
	list-style-type: none;
}

footer li{
	margin-right: 1em;
	display: inline;
}

footer a{
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
	  
	 }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
	  
	.element {
		color:						#FFF;
		-webkit-border-radius:		18px; /* Saf3-4, iOS 1-3.2, Android =1.6 */
		-moz-border-radius:			18px; /* FF1-3.6 */
		border-radius:				18px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
		-moz-background-clip:		padding; 
		-webkit-background-clip:	padding-box; 
		background-clip:			padding-box;
	}

	.element.large .dark {
		filter:			Alpha(Opacity=100);
		background:		#121212;
		padding:		0.520833333333333%; /*5px;*/
	}
}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
	  
  }


  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
		header img.main-logo {
			width: 214px;
			height: 120px;
		}	  
  }


  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

	.element {
		color:					#FFF;
		-webkit-border-radius:	16px;
		-moz-border-radius:		16px;
		border-radius:			16px;
	}

	.element .name {
		background:				#121212;
	}

	/* normal variables */

	.element.large{
		color:					#FFF;
		-webkit-border-radius:	16px;
		-moz-border-radius:		16px;
		border-radius:			16px;
	}

	/* Additional styling changes for the Europeana exhibition front page */

	.dark {
		-moz-box-shadow:		0 5px 5px 0 #000;
		-webkit-box-shadow:		0 5px 5px 0 #000;
		box-shadow:				0 5px 5px 0 #000;
	}

	.element.large .dark {
		padding:			5px;
		-moz-box-shadow:	0 5px 5px 0 #000;
		-webkit-box-shadow:	0 5px 5px 0 #000;
		box-shadow:			0 5px 5px 0 #000;
		background:			#121212;
		position:			relative;
	 	margin:				0 15px 0 0;
	}


	.element.large .overlay {
		width: 15%;
	}

	header {
		height: 60px;
	}

	header a{
		background: none;
	}

	header img.main-logo{
		width:		107px;
		height:		60px;
		display:	inline-block;
	}

	footer a{
		background: none;
	}



	/* External links */

	p.partner-site{
		left:		0.5em;
		bottom:		2.8em;
		width:		90%;
	}

	/* Footer */

	footer{
		position:relative;
		display:block;
		float:left;
		border-top:1px solid #666;
		width:88%;
		padding-top: 5px;
		padding-bottom:5px;
		text-align:left;
	}


	footer li{
		margin-left: 0px;
		margin-right: 0.8em;
		display: inline;
	}
}

